:root
{
    --fuenteHeadings: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --blanco:#ffffff;
    --negro:#000000;
    --gris:#D1D0D0;
}

html 
{
    box-sizing: border-box;
    font-size: 62.5%;          /* 1 rem  es 10 px */
}
  
  *, *:before, *:after 
{
    box-sizing: inherit;
}

p
{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
  

/* Globales */

.contenedor
{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

h1,h2,h3,h4
{
    font-family: var(--fuenteHeadings);
}

h1
{
    font-size: 4.8rem;
}


h2
{
    font-size: 4rem;
}

h3
{
    font-size: 3.2rem;
}


h4
{
    font-size: 2.8rem;
}

img
{
    max-width: 100%;
}

/* Utilidades */
.no-margin
{
    margin: 0;
}

.no-padding
{
    padding: 0;
}

.centrar-texto
{
    text-align: center;
}    
 

.header
{
    background-image: url(../img/chincha5_1.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
   

}

.header__texto
{
    text-align: center;
    color: var(--blanco);
    padding-top: 5rem;
    /* margin-top: 15rem; */
}



.logo
{
    color: var(--blanco);
}

.logo__nombre
{
    font-weight: 400;

}

.logo__blog
{
    font-weight: 700;

}

@media (min-width: 768px) 
{
     .barra
     {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
}

@media (min-width: 768px) 
{
    .navegacion
    {
        display: flex;
        /* justify-content: space-between; */
        gap: 2rem;
    }
    
}


.navegacion__enlace
{
    display: block;
    color: var(--blanco);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
 
    
}

@media (min-width: 768px) 
{
    .navegacion__enlace
    {
        margin-right: 2rem;
        /* flex-basis: calc(33.3% - 2rem); */
    }
}


.header_mensaje
{
    font-size: 1.8rem;
    padding-top: 2rem;
}


@media (min-width: 768px) 
{
    .contenido-principal
    {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2rem;
    } 
}

.entrada
{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-child
{
    border-bottom: none;
    margin-bottom: 0;
}

.boton
{
    display: block;
    font-family: var(--fuenteHeadings);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--blanco);
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border: none;

}

.boton:hover
{
    cursor: pointer;
}

@media (min-width: 768px) 
{
    .boton
    {
        display: inline-block;
        /* margin-left: 75%; */
    }
}



.boton-primario
{
    background-color: var(--negro);
}

.boton-secundario
{
    background-color: var(--primario);
}

.curso
{
    list-style: none;
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}

.curso:last-child
{
    border-bottom: none;
    margin-bottom: 0;
}

.curso__label
{
    font-family: var(--fuenteHeadings);
    font-weight: 700;
}

.curso__info
{
    font-weight: 400;
}

/* Footer */

.footer
{
    background-color: var(--negro);
    margin-top: 5rem
}

/* Nosotros */

@media (min-width: 768px) 
{
    .sobre--nosotros
    {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding-bottom: 2rem; */

        display: flex;
        justify-content: space-between;
    }
    
    .sobre--nosotros__imagen
    {
        flex: 0 0 calc(50% - 2rem);
    }

    .sobre--nosotros__texto
    {
        flex: 0 0 calc(50% - 2rem);
    }
}

@media (min-width: 768px) 
{
    .curso--widget
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        border-bottom: 2px solid var(--gris);
        padding-bottom: 2rem;
        margin-top: 2rem;
    } 

    .curso--widget:last-child
    {
        border-bottom: none;
    }
}

/* Contacto */

.contacto-bk
{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Formulario */

.formulario
{
    margin: -5rem auto 0 auto;
    width: 95%;
    background-color: var(--blanco);
    padding: 5rem;
}

.campo
{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label
{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field
{
    flex: 1;
}

.campo__field--textarea
{
    height: 20rem;
    width: 40rem;
}


 

/* @media (max-width: 768px) 
{
    .btn
    {
        width: 100%;
        flex: 1;
    }  
     
} */

.btn
{
    display: block;
    /* margin-left: auto; */
    width: 100%;
}

@media (min-width: 768px) 
{
    .boton
    {
        width: auto;
        margin-left: auto;
    } 
}